*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(to top, rgb(55, 11, 132), rgba(30, 30, 30, 0.2), rgba(255, 255, 255, 1));
}

img{
  max-width: 100%;
  height: auto;
}

.box{
  padding: 40px 0 0;
  max-width: 500px;
  margin: 0 auto;
}

.tree{
  position: relative;

  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(30, 30, 30, 0.2), rgb(55, 11, 132));
}

.balls{
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;

  &__item{
    min-width: 30px;
    width: 30px;
    height: 30px;

    background-size: cover;
  }
}